@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Manrope, sans-serif;
}

body {
	padding: 20px 40px;
	min-height: 100svh;
	min-width: 100svw;
	background-color: #f7f7f7;
	overflow: hidden;
}

.header {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.main-logo h1 {
	font-size: 28px;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25%;
}

.logo-wrapper img {
	height: 40px;
	width: 40px;
	border-radius: 25%;
}

.load-data--btn {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
	background-color: #f12a67;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.2s background-color ease;
}

.load-data--btn span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.load-data--btn:hover {
	background-color: #cd2054;
}

main {
	display: flex;
	gap: 15px;
}

.viewer {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.player {
	height: calc(100svh - 200px);
	border-radius: 10px;
}

.video-info {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid #eff0f4;
	border-radius: 10px;
	background-color: #fff;
}

.video-info h3 {
	font-size: 16px;
	color: #787c99;
}

.copy-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copy-link a {
	font-size: 14px;
	text-decoration: none;
	color: #787c99;
}

.copy-link button {
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}

aside {
	min-height: 100%;
	max-width: 650px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.filters {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #fff;
	border: 1px solid #eff0f4;
	border-radius: 10px;
}

.searchWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 15px;
	position: relative;
	border: 1px solid #eff0f4;
	border-radius: 6px;
}

.searchWrapper input {
	width: 100%;
	border: none;
	outline: none;
	font-family: Manrope, sans-serif;
	font-size: 16px;
}

.searchWrapper span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.history-navigation {
	height: 100%;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #eff0f4;
	border-radius: 10px;
}

.history-navigation__header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.history-navigation__header span {
	font-size: 14px;
	color: #787c99;
}

.history-navigation__header span:nth-child(1) {
	margin-left: 10px;
}

.history-navigation__header span:nth-child(2) {
	width: 185px;
	margin-left: auto;
}

.history-list {
	height: 429px;
	list-style: none;
	overflow-y: scroll;
}

.history-list__item {
	position: relative;
	padding: 15px;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}

.history-list__item::after {
	position: absolute;
  content: '';
  height: 1.5px;
  top: 100%;
	left: 50%;
	transform: translateX(-50%);
  width: calc(100% - 14px);
  background-color: #eff0f4;
}

.history-list__item.active {
	background-color: #fceff3;
	border-left: 2px solid #dc2626;
}

.tiktok-logo_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 15px;
}

.tiktok-logo_wrapper img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.history-list__item > span {
	max-width: 350px;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
  text-overflow: ellipsis;
}


.history-list__item time {
	width: 130px;
	margin-left: 15px;
	font-size: 14px;
	color: #787c99;
}

.history-list__item a {
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}

/* FLATPICKER CALENDAR */

.flatpickr-calendar {
  border: none;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.12);
}

.flatpickr-months {
  background: white;
}

.flatpickr-current-month {
  font-size: 16px;
  font-weight: 600;
}

.flatpickr-day {
  border-radius: 8px;
}

.flatpickr-day:hover {
  background: #f2f4f8;
}

.flatpickr-day.selected {
  background: #ff4d7a;
  border-color: #ff4d7a;
}

.flatpickr-day.today {
  border-color: #ff4d7a;
}

.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  fill: #555;
}

.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
  fill: #ff4d7a;
}

#date-from,
#date-to {
	width: 100%;
	border: none;
  font-size: 16px;
	outline: none;
}

.date-filter {
	display: flex;
	align-items: center;
	gap: 10px;
}

.date-filter > div {
	flex: 1	;
}

.date-select_wrapper {
	/* max-width: 100px; */
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #eff0f4;
	border-radius: 6px;
}

.date-select_wrapper input {
	width: 100%;
}

.paginator {
	margin-left: 15px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.paginator button {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.paginator button.active {
  background: #f12a67;
  color: white;
}

.page-input {
  width: 42px;

  text-align: center;

  border: 1px solid #f12a67;
  border-radius: 8px;

  background: transparent;
	outline: none;
  color: #000;
}

.dots {
	height: 42px;
	width: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
  cursor: pointer;
  user-select: none;
}

.page-input {
  appearance: textfield;
  -moz-appearance: textfield;
}

.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination-area {
	margin-top: 20px;
	display: none;
	align-items: center;
	justify-content: space-between;
}

.page-size {
  position: relative;
  width: 140px;
	margin-right: 15px;
}

.page-size__current {
  width: 100%;
  height: 42px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 14px;

	border: none;
	outline: none;
  border-radius: 10px;

  background-color: #f12a67;
  color: white;

  cursor: pointer;
}

.page-size__current svg {
  transition: 0.2s;
}

.page-size.open .page-size__current svg {
  transform: rotate(180deg);
}

.page-size__menu {
  position: absolute;
  bottom: calc(100% + 8px);

  width: 100%;

  background-color: #f12a67;

	border: none;
  border-radius: 10px;

  list-style: none;
  padding: 6px;
  margin: 0;

  display: none;
}

.page-size.open .page-size__menu {
  display: block;
}

.page-size__menu li {
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
	color: #fff;
}

.page-size__menu li:hover {
  background: #cd2054;
}

.sort {
  position: relative;
}

.sort__current {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  background: #fff;
  border: 1px solid #eff0f4;
  border-radius: 6px;

	color: #757575;
  cursor: pointer;
	font-size: 16px;
}

.sort__current svg {
  transition: 0.2s;
}

.sort.open .sort__current svg {
  transform: rotate(180deg);
}

.sort__menu {
  display: none;

  position: absolute;
  top: calc(100% + 8px);

  width: 100%;

  padding: 6px;
  margin: 0;

  list-style: none;

  background: #fff;
  border: 1px solid #eff0f4;
  border-radius: 6px;
}

.sort.open .sort__menu {
  display: block;
}

.sort__menu li {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
	color: #757575;
}

.empty-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.empty-list img {
	height: 350px;
	width: auto;
}

.empty-list h2 {
	margin-top: -50px;
	font-size: 28px;
}

.empty-list span {
	margin-top: 15px;
	max-width: 250px;
	font-size: 16px;
	text-align: center;
}