@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
	/* colors */
  --bg-color: #f7f8fc;
  --surface-color: #ffffff;
  --text-color: #0a0a0a;
  --text-secondary: #787c99;
  --accent-color: #f12a67;
  --accent-dark: #cd2054;
  --accent-light: #fceff3;
	--item-active: #ffd9e4;
  --border-c: #eff0f4;

	/* border-radius */
	--brs-sm: 6px;
	--brs-md: 10px;
	--brs-mg: 20px;
	--brs-lg: 25%;
	--brs-xl: 50%;

	/* border */
	--border: 1px solid var(--border-c);
}

html.dark {
  --bg-color: #111318;
  --surface-color: #1b1e27;
  --text-color: #f4f5f8;
  --text-secondary: #9ca4b5;
  --accent-color: #f12a67;
  --accent-dark: #d81f59;
  --accent-light: rgba(177, 50, 88, 0.479);
	--item-active: #501626;
  --border-c: #31374a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Manrope, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 20px 40px;
	min-height: 100svh;
	min-width: 100svw;
	background-color: var(--bg-color);
	overflow-x: hidden;
	user-select: none;
}

.vault {
	overflow-y: hidden;
}

main {
	display: flex;
	gap: 15px;
}

aside {
	max-width: 630px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

/* HEADER */

.header {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-logo {
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
}

.main-logo h1 {
	font-size: 28px;
	color: var(--text-color);
}

.main-logo h1 span {
	color: var(--accent-color);
}

.main-logo sup {
	font-size: 12px;
	color: var(--text-secondary);
}

.logo-info {
	display: flex;
	flex-direction: column;
}

.logo-badge {
	display: flex;
	align-items: center;
	gap: 3px;
	list-style: none;
	color: var(--text-secondary);
}

.logo-badge__item {
	display: flex;
	align-items: center;
	gap: 3px;
	color: var(--text-secondary);
	font-size: 14px;
}

.logo-badge__item svg {
	stroke: var(--accent-color);
	height: 14px;
	width: 14px;
}

.logo-badge .circle {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 8px;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--brs-lg);
}

.logo-wrapper img {
	height: 40px;
	width: 40px;
	border-radius: var(--brs-lg);
}

.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 40px;
}

.nav-list__item a {
	display: flex;
	align-items: center;
	gap: 7px;
	font-size: 16px;
	color: var(--text-secondary);
	text-decoration: none;
	font-weight: 500;
	transition: 0.2s color ease;
}

.nav-list__item:hover a {
	color: var(--accent-color);
}

.nav-list__item a svg {
	display: flex;
	height: 18px;
	width: 18px;
}

.load-data--btn {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #f4f5f8;
	background-color: var(--accent-color);
	border: none;
	outline: none;
	border-radius: var(--brs-sm);
	cursor: pointer;
	transition: 0.2s background-color ease;
}

.load-data--btn span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.load-data--btn:hover {
	background-color: var(--accent-dark);
}

#themeSwitcher {
	height: 40px;
	width: 40px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: var(--border);
	border-radius: var(--brs-sm);
	background-color: var(--surface-color);
	cursor: pointer;
	transition: 0.2s background-color ease;
}

#themeSwitcher:hover {
	background-color: var(--bg-color);
}

#themeSwitcher svg {
	stroke: var(--text-color);
}

.header-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

/* VIEWER */

.viewer {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.player {
	height: calc(100svh - 220px);
	border-radius: var(--brs-md);
	background-color: var(--surface-color);
}

.video-info {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: var(--border);
	border-radius: var(--brs-md);
	background-color: var(--surface-color);
}

.video-info h3 {
	font-size: 16px;
	color: var(--text-secondary);
}

.copy-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copy-link a {
	max-width: 95%;
	padding-right: 10px;
	font-size: 14px;
	text-decoration: none;
	color: var(--text-secondary);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.copy-link button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border-radius: var(--brs-sm);
	border: none;
	background: transparent;
	cursor: pointer;
	color: var(--text-secondary);
	transition: 0.2s background-color ease;
}

.copy-link button > svg {
	height: 20px;
	width: 20px;
	stroke: var(--text-secondary);
}

.copy-link button:hover {
	background-color: var(--bg-color);
}

/* SEARCH */

.searchWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 15px;
	position: relative;
	border: var(--border);
	border-radius: var(--brs-sm);
}

.searchWrapper input {
	width: 100%;
	border: none;
	outline: none;
	font-family: Manrope, sans-serif;
	font-size: 16px;
	color: var(--text-color);
	background-color: inherit;
}

.searchWrapper span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchWrapper span > svg {
	height: 16px;
	width: 16px;
	stroke: var(--text-secondary);
}

.clear-search-btn {
	display: none;
	padding: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}

.searchWrapper.input-error {
	border: 1px solid var(--accent-dark);
}

.error-info {
	margin-top: -7px;
	display: none;
	color: var(--accent-dark);
	margin-left: 10px;
	font-size: 14px;
}

/* FILTERS */

.filters {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--surface-color);
	border: var(--border);
	border-radius: var(--brs-md);
}

#date-from,
#date-to {
	width: 100%;
	border: none;
  font-size: 16px;
	outline: none;
	color: var(--text-color);
	background-color: inherit;
}

.date-filter {
	display: flex;
	align-items: center;
	gap: 10px;
}

.date-filter > div {
	flex: 1	;
}

.date-select_wrapper {
	position: relative;
	padding: 10px 0 10px 10px;
	border: var(--border);
	border-radius: var(--brs-sm);
}

.date-select_wrapper input {
	width: 100%;
	z-index: 5;
}

.date-select_wrapper svg {
	position: absolute;
	right: 10px;
	z-index: 1;
	pointer-events: none;
}

/* FLATPICKER CALENDAR */

.flatpickr-calendar {
  border: none;
	border-radius: var(--brs-mg);
  box-shadow: 0 10px 30px rgba(0,0,0,.12);
	background-color: inherit;
}

.flatpickr-calendar:before, .flatpickr-calendar:after {
	border: none;
}

.flatpickr-months {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	justify-content: center;
}

.flatpickr-month {
	border-radius: var(--brs-mg);
  background: var(--surface-color);
}

.flatpickr-prev-month,
.flatpickr-next-month {
	top: 10px !important;
	border: var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--brs-sm);
}

.flatpickr-prev-month {
	left: 10px !important;
}

.flatpickr-next-month {
	right: 10px !important;
}

.flatpickr-weekdays {
	padding: 0 5px;
	color: var(--text-secondary) !important;
}

.flatpickr-weekday {
	color: var(--text-secondary) !important;
}

.flatpickr-current-month {
	margin-left: 16px;
	max-width: 65%;
	padding: 0;
  font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: var(--border);
	border-radius: var(--brs-sm);
	color: var(--text-color);
}

.dayContainer {
	padding: 5px;
}

.flatpickr-day {
  border-radius: var(--brs-xl);
	font-family: Manrope, sans-serif;
	color: var(--text-color);
}

.flatpickr-day:hover {
	background-color: var(--accent-light);
	border: 1px solid var(--accent-light);
}

.flatpickr-day.selected {
  background: var(--accent-color);
	border-color: var(--accent-color);
}

.flatpickr-day.selected:hover {
	background-color: var(--accent-dark);
	border-color: var(--accent-dark);
}

.flatpickr-day.today {
  border-color: var(--accent-color);
}

.flatpickr-day.today:hover {
	background: var(--accent-dark);
	border: 1px solid var(--accent-dark);
}

.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  fill: var(--text-secondary);
}

.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
  fill: var(--accent-color);
}

.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
	color: var(--text-secondary);
}

/* SORT */

.sort {
  position: relative;
}

.sort__current {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--surface-color);
  border: var(--border);
  border-radius: var(--brs-sm);
	color: var(--text-secondary);
  cursor: pointer;
	font-size: 16px;
}

.sort__current svg {
  transition: 0.2s;
}

.sort.open .sort__current svg {
  transform: rotate(180deg);
}

.sort__menu {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  padding: 6px;
  margin: 0;
  list-style: none;
  background: var(--surface-color);
  border: var(--border);
  border-radius: var(--brs-sm);
	z-index: 100;
}

.sort.open .sort__menu {
  display: block;
}

.sort__menu li {
  padding: 6px;
  border-radius: var(--brs-sm);
  cursor: pointer;
	color: var(--text-secondary);
}

.sort__menu li:hover {
	background-color: var(--bg-color);
}

/* HISTORY LIST */

.history-navigation {
	flex: 1;
	padding: 15px 10px 15px 15px;
	background-color: var(--surface-color);
	border: var(--border);
	border-radius: var(--brs-md);
}

.history-navigation__header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.history-navigation__header span {
	font-size: 14px;
	color: var(--text-secondary);
}

.history-navigation__header span:nth-child(1) {
	margin-left: 10px;
}

.history-navigation__header span:nth-child(2) {
	width: 185px;
	margin-left: auto;
}

.history-list {
	padding-right: 10px;
	height: calc(100svh - 420px);
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

.history-list::-webkit-scrollbar {
  width: 6px;
}

.history-list::-webkit-scrollbar-track {
  background: transparent;
}

.history-list::-webkit-scrollbar-thumb {
	background-color: var(--border-c);
	border-radius: 999px;
	cursor: pointer;
}

.history-list::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}

.history-list__item {
	position: relative;
	padding: 15px;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: var(--brs-md);
	border-left: 2px solid transparent;
	overflow: hidden;
	cursor: pointer;
	transition: 0.2s transform ease, 0.2s background-color ease;
}

.history-list__item:not(:last-child)::after {
	position: absolute;
  content: '';
  height: 1px;
  bottom: 0;
	left: 50%;
	transform: translateX(-50%);
  width: calc(100% - 18px);
	background-color: var(--border-c);
}

.history-list__item.active {
	background-color: var(--item-active);
	border-left: 2px solid var(--accent-color);
}

.history-list__item:not(.active):hover {
	transform: translateX(4px);
	background-color: var(--accent-light);
}

.tiktok-logo_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--brs-xl);
	margin-right: 15px;
}

.tiktok-logo_wrapper img {
	height: 30px;
	width: 30px;
	border-radius: var(--brs-xl);
}

.history-list__item > span {
	max-width: 300px;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
  text-overflow: ellipsis;
	color: var(--text-color);
}


.history-list__item time {
	width: 130px;
	margin-left: 15px;
	font-size: 14px;
	color: var(--text-secondary);
}

.history-list__item a {
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}

.empty-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.empty-list img {
	height: 300px;
	width: auto;
}

.empty-list h2 {
	margin-top: -50px;
	font-size: 28px;
}

.empty-list span {
	margin-top: 15px;
	max-width: 250px;
	font-size: 16px;
	text-align: center;
}

/* PAGINATION AREA */

.paginator {
	margin-left: 15px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.paginator button {
  width: 36px;
  height: 36px;
  border: var(--border);
  border-radius: var(--brs-sm);
  cursor: pointer;
	color: var(--text-color);
	background-color: var(--surface-color);
}

.paginator button.active {
  background: var(--accent-color);
	color: #f4f5f8;
}

.paginator button:disabled {
  opacity: 0.4;
  cursor: default;
  background: var(--surface-color);
  color: var(--text-secondary);
}

.paginator button:not(.active):not(:disabled):hover {
  background: var(--bg-color);
}

.page-input {
  width: 36px;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: var(--brs-sm);
  background: transparent;
	outline: none;
  color: var(--text-color);
}

.dots {
	height: 36px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
  cursor: pointer;
  user-select: none;
	color: var(--text-color);
}

.page-input {
  appearance: textfield;
  -moz-appearance: textfield;
}

.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination-area {
	margin-top: 30px;
	display: none;
	flex-direction: column;
	gap: 12px;
	/* align-items: center; */
	/* justify-content: space-between; */
}

.pagination-area strong {
	color: var(--text-color);
}

.count-display {
	margin-left: 15px;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	color: var(--text-secondary);
}

.count-display svg {
	height: 14px;
	width: 14px;
	stroke: var(--text-secondary);
}

.pagination-settings {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-size {
  position: relative;
  width: 130px;
	margin-right: 15px;
}

.page-size__current {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
	border: var(--border);
	outline: none;
  border-radius: var(--brs-md);
	background-color: var(--white);
	color: var(--text-color);
  cursor: pointer;
}

.page-size__current svg {
	stroke: var(--accent-color);
  transition: 0.2s;
}

.page-size.open .page-size__current svg {
  transform: rotate(180deg);
}

.page-size__menu {
  position: absolute;
  bottom: calc(100% + 8px);
  width: 100%;
	background-color: var(--surface-color);
	border: var(--border);
  border-radius: var(--brs-md);
  list-style: none;
  padding: 6px;
  margin: 0;
  display: none;
}

.page-size.open .page-size__menu {
  display: block;
}

.page-size__menu li {
  padding: 10px 10px;
  border-radius: var(--brs-sm);
  cursor: pointer;
  transition: 0.2s;
	color: var(--text-color);
	font-size: 14px;
}

.page-size__menu li:hover {
	background-color: var(--bg-color);
}



/* ------------------ */
/* MAIN PAGE */
/* ------------------ */

.main {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

/* HERO SECTION */

.hero {
	max-width: 1400px;
	display: flex;
	gap: 40px;
}

.hero-left {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.hero-left h1 {
	font-size: 42px;
	color: var(--text-color);
}

.hero-left h1 > span {
	color: var(--accent-color);
}

.hero-left > span {
	font-size: 18px;
	font-weight: 500;
	color: var(--text-secondary);
}

.upload-field {
	padding: 25px 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border: 1px solid #fce0e9;
	border-radius: var(--brs-md);
	background-color: #fef7fa;
	cursor: pointer;
}

.upload-field.dragover {
	border-color: var(--accent-color);
	background-color: var(--accent-light);
}

.upload-header span {
	color: var(--accent-color);
}

.upload-icon {
	height: 80px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--brs-xl);
}

.upload-icon img{
	width: 100%;
	background-color: #fce0e9;
	border-radius: var(--brs-xl);
}

.upload-description {
	text-align: center;
	color: var(--text-secondary);
}

.upload-button{
	padding: 15px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: var(--accent-color);
	border: none;
	border-radius: var(--brs-md);
	font-size: 18px;
	color: #f7f8fc;
	cursor: pointer;
	transition: 0.2s background-color ease;
}

.upload-button:hover {
	background-color: var(--accent-dark);
}

.upload-button span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.upload-secure {
	display: flex;
	align-items: center;
	gap: 7px;
	font-size: 16px;
	color: var(--text-secondary);
	font-weight: 500;
}

.upload-secure svg {
	stroke: var(--accent-color);
	stroke-width: 2.5;
	height: 16px;
	width: 16px;
}

.hero-img {
	width: 100%;
	border: var(--border);
	border-radius: var(--brs-md);
}

.hero-img img {
	width: 100%;
}

/* BENEFITS */

.benefits-list {
	width: 100%;
	max-width: 1400px;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1.5px solid #e2e2e2;
}

.benefits-list__item {
	flex: 1;
	display: flex;
	gap: 20px;
}

.benefits-list__item svg {
	height: 36px;
	width: 36px;
}

.item-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.item-info h4 {
	font-size: 16px;
}

.item-info span {
	font-size: 14px;
	color: var(--text-secondary);
}

/* FEATURES */

.features {
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.features-list {
	width: 100%;
	display: flex;
	gap: 20px;
	list-style: none;
}

.features-list__item {
	padding: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: start;
	background-color: var(--surface-color);
	border: var(--border);
	border-radius: var(--brs-mg);
}

.features-list__item--icon {
	margin-bottom: 25px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fce0e9;
	border-radius: var(--brs-xl);
}

.features-list__item svg {
	stroke: var(--accent-color);
	stroke-width: 2.5;
}

.features-list__item--header {
	font-size: 18px;
	margin-bottom: 15px;
}

.features-list__item--description {
	font-size: 16px;
	color: var(--text-secondary);
}

/* USER GUIDE */

.user-guide {
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.user-guide-list {
	width: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.user-guide-list__item {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-guide-list__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 50%;
  width: 100%;
  border-top: 2px solid var(--accent-color);
  z-index: -1;
}

.user-guide-list__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  border-top: 2px solid var(--accent-color);
  z-index: -1;
}

.item-step {
	position: relative;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--surface-color);
	background-color: var(--accent-color);
	border-radius: var(--brs-xl);
	margin-bottom: 10px;
}

.user-guide-list__item:not(:first-child) .item-step::before{
  content: "";
  position: absolute;
  top: 20px;
  right: 100%;
  width: 20px;
  border-top: 2px solid #f7f7f7;
  z-index: 1;
}

.user-guide-list__item:not(:last-child) .item-step::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 100%;
  width: 20px;
  border-top: 2px solid #f7f7f7;
  z-index: 1;
}

.item-icon {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fce0e9;
	border-radius: var(--brs-xl);
	margin-bottom: 15px;
}

.item-icon svg {
	height: 30px;
	width: 30px;
	stroke: var(--accent-color);
	stroke-width: 2.5;
}

.item-description {
	margin-top: 10px;
	font-size: 14px;
	text-align: left;
	color: var(--text-secondary);
}

.item-description strong {
	color: var(--text-color);
}

.privacy {
	padding: 25px;
	max-width: 1400px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 30px;
	background-color: #fef7fa;
	border: 1px solid #fce0e9;
	border-radius: var(--brs-md);
}

.privacy svg {
	stroke: var(--accent-color);
	height: 45px;
	width: 45px;
}

.privacy-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.privacy-info h5 {
	font-size: 16px;
	color: var(--text-color);
}

.privacy-info span {
	font-size: 16px;
	color: var(--text-secondary);
}

/* FOOTER */

.footer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer a {
	text-decoration: none;
}

.footer a:visited {
	color: var(--text-secondary);
}

.footer-logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.footer-logo h6 {
	font-size: 20px;
	color: var(--text-color);
}

.footer-logo h6 span {
	color: var(--accent-color);
}

.footer-logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--brs-lg);
}

.footer-logo-wrapper img {
	height: 30px;
	width: 30px;
	border-radius: var(--brs-lg);
}

.footer > span {
	color: var(--text-secondary);
}

.github-link {
	display: flex;
	align-items: center;
	gap: 7px;
	font-size: 16px;
	color: var(--text-secondary);
	transition: 0.2s color ease;
}

.github-link svg{
	height: 16px;
	width: 16px;
}

.github-link:hover {
	color: var(--accent-color) !important;
}

